<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="public/assets/element-ui/lib/theme-chalk/index.css">
    <link rel="shortcut icon" href="public/assets/favicon.ico">
    <style>
        .el-aside {
            color: #333;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .el-header {
            color: #333;
            line-height: 60px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        }

        .el-main {
            color: #333;
            line-height: 60px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header height="auto" align="center">
                <h1>LAN Media Viewer</h1>
                <el-radio-group v-model="radio" @change="changeRadio">
                    <el-radio :label="1">视频</el-radio>
                    <el-radio :label="2">图片</el-radio>
                    <el-radio :label="3">音乐</el-radio>
                </el-radio-group>
            </el-header>
            <el-container>
                <el-aside width="auto">
                    <el-button v-if="left_button" @click="clickAside" icon="el-icon-d-arrow-left" size="mini" circle>
                    </el-button>
                    <el-button v-if="!left_button" @click="clickAside" icon="el-icon-d-arrow-right" size="mini" circle>
                    </el-button>
                    <el-tree style="overflow: hidden;" :data="data" :props="defaultProps" @node-click="handleNodeClick">
                    </el-tree>
                </el-aside>
                <el-main align="center">
                    <div id="videoViewer" v-if="showVideo && radio==1" style="width: 100%;">
                        <video style="max-width: 100%;" :src="videoSrc" controls="controls"></video>
                    </div>
                    <div id="imageViewer" v-if="radio==2" style="width: 100%;">
                        <div v-for="img in imgs">
                            <span :id="img.label">{{ img.label }}</span>
                            <el-image style="width: 100%" :key="img.url" :src="img.url" lazy></el-image>
                        </div>
                    </div>
                    <div id="musicViewer" v-if="radio==3" style="width: 100%;">
                        WIP
                    </div>
                </el-main>
            </el-container>
        </el-container>
        <el-backtop></el-backtop>
    </div>
</body>
<!-- import Vue before Element -->
<script src="public/assets/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="public/assets/element-ui/lib/index.js"></script>
<script src="public/assets/axios/dist/axios.min.js"></script>
<script src="public/assets/jquery-3.6.0.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                data: [],
                defaultProps: {
                    children: 'children',
                    label: 'label',
                    path: 'path',
                },
                imgs: [],
                left_button: true,
                videoSrc: '',
                radio: 1,
                showVideo: false
            };
        },
        methods: {
            handleNodeClick(data) {
                if (!data.children && this.radio == 1) {
                    this.showVideo = true
                    this.videoSrc = data.path
                }
                else if (this.radio == 2) {
                    if (data.children) {
                        this.imgs = []
                        data.children.forEach(element => {
                            if (!element.children) {
                                this.imgs.push({
                                    url: element.path,
                                    label: element.label
                                })
                            }
                        });
                    }
                    else {
                        $('html , body').animate({ scrollTop: $("[id='" + data.label +"']").offset().top + 'px' }, 1000);
                    }
                }
            },

            changeRadio() {
                if (this.radio == 1) this.getVideoList()
                else if (this.radio == 2) this.getImageList()
            },

            getVideoList() {
                var _this = this
                axios.get('/video')
                    .then(function (response) {
                        _this.$set(_this, "data", response.data.video.children)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            getImageList() {
                var _this = this
                axios.get('/image')
                    .then(function (response) {
                        _this.$set(_this, "data", response.data.image.children)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            clickAside() {
                if (this.left_button) {
                    $('.el-tree').animate({ 'width': '0px' }, 100)
                    this.left_button = false
                }
                else {
                    $('.el-tree').animate({ 'width': '100%' }, 100)
                    this.left_button = true
                }

            }
        },
        created: function () {
            this.getVideoList()
        }
    })
</script>

</html>